{% extends "parent_templates/contact_and_about.html" %}

{% block 'page' %}

{% load static %}
  <!-- about section -->
  <section class="about_section layout_padding-bottom my-4">
    <div class="square-box">
      <img src="{% static 'home/images/square.png' %}" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'home/images/14145206.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2 class="h2">
                What We Do
              </h2>
            </div>
            <p>
           We are the number one hostel booking platform that provides 100%
           assurance that all our customers/users get rooms(No petching) and privacy.
           We have rooms available at various price ranges...
           Want your own room and comfort, We've got you!!!
            </p>
            <div class="heading_container">
              <h2 class="h2">
                No Scams!!!
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->
{% endblock 'page' %}

