{% extends "parent_templates/contact_and_about.html" %}

{% block 'page' %}

{% load static %}
  <section class="about_section layout_padding-bottom mb-4 my-md-2">
    <div class="square-box">
      <img src="{% static 'home/images/square.png' %}" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'home/images/14145206.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2 class="h2">
                What We Do
              </h2>
            </div>
            <p>
              At Bookmie.com, we're dedicated to providing you with a seamless and convenient experience when it comes to booking and paying for comfortable and affordable rooms. Our platform is designed to simplify the process of finding the perfect accommodation on and off campus.
            </p>
            <p><b>Here's what you can expect from our website:</b></p>
            <ul>
              <li><b>Easy Booking Process:</b> Our user-friendly interface makes it effortless to search for available rooms and book your stay within minutes. With just a few clicks, you can browse through a variety of accommodation options and choose the one that suits your preferences and budget.</li>
            </ul>
          </div>
        </div>
        <div class="row py-0 px-4 px-md-2 pt-md-3">
          <div class="col-md-12 py-0 ">
            <ul>
              <li><b>Variety of Rooms:</b> We understand that every student has unique preferences and requirements. That's why we offer a diverse selection of rooms to cater to different tastes and needs. Whether you're looking for a cozy single room or a spacious dormitory, you'll find options that meet your expectations.</li>
              <li><b>Interactive Map Feature:</b> Finding your way to your accommodation has never been easier! Our website features an interactive map that provides directions to your chosen location. </li>
              <li><b>Secure Online Payment:</b> We prioritize the security of your transactions. That's why we offer a secure online payment method that ensures your financial information is protected at all times. You can book your room with confidence, knowing that your payment details are safe and encrypted.</li>
              <li><b>Flexible Payment Options:</b> We recognize that flexibility is important when it comes to managing your finances. Some of our partner hostels even offer the option for part payment, allowing you to pay for your stay in installments. This feature gives you greater control over your budget and makes booking your accommodation hassle-free.</li>
            </ul>
            <p>At Bookmie.com, our mission is to make your campus experience as smooth and enjoyable as possible. With our convenient booking process, secure payment system, interactive map feature, and flexible room options, you can focus on making the most of your social and academic life without worrying about your accommodation arrangements.</p>
            <p>Thank you for choosing Bookmie.com for your accommodation needs. We look forward to serving you and ensuring that your stay is nothing short of exceptional.</p>
        </div>
      </div>
      </div>
    </div>
  </section>
{% endblock 'page' %}

