{% extends "parent_templates/contact_and_about.html" %}

{% block 'page' %}

  <!-- contact section -->
  <section class="contact_section layout_padding-top">
    <div class="container">
      <div class="heading_container">
        <h2 class="h2">
          Contact Us And We Will Get Back To You Shortly
          <i class="bi bi-chat-dots"></i>
        </h2>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="map_container">
            <div class="map-responsive">
              <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France" width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 ">
          <div class="form_container">
            <form id="contact-form" method="POST" action="{% url 'reviews:customer-care' %}">
              {% csrf_token %}
              <div class="inputbox">
                <input id="username" name="name" required="required" type="text">
                <span>Name</span>
                <i></i>
            </div>
            <div class="inputbox">
              <input id="useremail" name="email" required="required" type="text">
              <span>Email</span>
              <i></i>
          </div>
          <div class="inputbox">
            <input id="userphone" name="phone" required="required" type="text">
            <span>Phone Number</span>
            <i></i>
        </div>
        <div class="inputbox">
          <input id="message" name="message" required="required" type="text">
          <span>Problem/Message</span>
          <i></i>
      </div>
              <div class="d-flex ">
                <button id="contact-button" type="submit">
                  Send
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                  </svg>
                </button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- end contact section -->
{% endblock 'page' %}




