{% extends "parent_templates/main_campuses.html" %}


{% block 'router' %}

{% for campus in campuses %}
<a href="{% url 'core:hostels' campus.campus_code %}">
<div class="card border border-dark">
  <div class="content">
    <img src="{{ campus.flag.url }}" alt="">
    <p class="heading">{{ campus.campus_name }}</p>
    <!--<p class="para">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
      laboriosam at voluptas
    </p> -->
    {% if campus.available_on_campus %}
    <button class="btn">View Hostels Available</button>
    {% else %}
      <button class="btn">Coming Soon🏢</button>
    {% endif %}
  </div>
</div>
</a>
{% endfor %}

{% endblock %}