{% extends "parent_templates/main_campuses.html" %}


{% block 'router' %}

{% for campus in campuses %}
{% if campus.available_on_campus %}
<a href="{% url 'maps:map-views' campus.campus_param_id %}">
<div class="card">
  <img src="{{ campus.flag.url }}" alt="Image" class="card-image">
  <div class="card-content">
      <h2 class="card-title">{{ campus.campus_name }}</h2>
      <p class="card-description">All hostels available on campus</p>
      <div class="card-buttons" style="float: right;">
        <a href="{% url 'maps:map-views' campus.campus_param_id %}">
        <button class="btn btn-warning">All Campus Hostels</button>
      </a>
      </div>
  </div>
</div>
</a>
{% else %}
<a href="#!">
<div class="card">
  <img src="{{ campus.flag.url }}" alt="Image" class="card-image">
  <div class="card-content">
      <h2 class="card-title">{{ campus.campus_name }}</h2>
      <p class="card-description">Currently not available.</p>
      <div class="card-buttons" style="float: right;">
          <!-- <button class="btn btn-primary">Button 1</button> -->
          <button class="btn btn-warning">Coming Soon</button>
      </div>
  </div>
</div>
</a>
{% endif %}

{% endfor %}

{% endblock %}