[Units]
Description=Bookmie.com Celery Service

[Service]
ExecStart=celery \ 
    -A config  worker \
     --loglevel=info  -f bookmie_celery.log \
     --logfile=/var/log/celery/bookmie_celery.log

[Install]
Wanted-By=multi-user.target
