        /* 
 * Always set the map height explicitly to define the size of the div element
 * that contains thepy map. 
 */


 #map {
    height: 85%;
    width: 100%;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    background-color: var(--dark);
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .nav{
    z-index: 99 !important;
  }

  .select{
    padding: 8px;
    background: var(--dark);
    /* position: fixed; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* z-index: 1;
    border-radius: 0 0 10px 10px;
    /* width: 80%; */
  }

  @media (min-width: 600px) {
    .select{
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9;
      padding: 8px;
      background: var(--dark);
      border-radius: 10px 10px 0 0;
      width: initial;
    }

    #map{
      height: 92%;
    }
  }

 
/* ROTAION BUTTONS */
.ui-button {
  background-color: #1459f0; 
  color: #FFFFFF;; 
  border: none;
  border-radius: 4px;
  margin: 10px;
  padding: 1em;
  font: 400 16px sans-serif;
  transition: background-color 0.3s ease; 
  height: 40px;
  cursor: pointer;
  display: flex; 
  align-items: center; 
}

.ui-button:hover {
  background-color: #2980b9; 
}

/* ORIGIN MARKER DESIGN */
.origin-marker-content {
  background-color: #1459f0;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 16px;
  padding: 12px;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}

.origin-marker-content:hover {
  background-color: #051836;
  border-color: #ff5722;
  animation: bounce 0.6s ease;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.origin-marker-content::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #ffffff;
  z-index: 1;
}

.origin-marker-content:hover:after{
  border-top: 12px solid #ff5722;
}

/* .origin-marker-content::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 20px;
  height: 20px;
  background-color: #ff5722;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  z-index: 0;
} */




/* HOSTEL MARKER DESIGN */
.hostel-marker-content {
  background-color: #051836;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}

.hostel-marker-content:hover {
  background-color: #1b3854;
  border-color: #ffb006;
  animation: bounce 0.6s ease infinite;
}

.hostel-marker-content::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #ffffff;
  z-index: 1;
}

.hostel-marker-content:hover::after{
  border-top: 8px solid #ffb006;
}

/* .hostel-marker-content::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 16px;
  height: 16px;
  background-color: #ffb006;
  border: 2px solid #ff500b;
  border-radius: 50%;
  z-index: 0;
} */







