{% extends "parent_templates/contact_and_about.html" %}

{% block 'page' %}

{% load static %}
  <section class="about_section layout_padding-bottom mb-4 my-md-2">
    <div class="square-box">
      <img src="{% static 'home/images/square.png' %}" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'home/images/14145206.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2 class="h2">
                Privacy Policy
              </h2>
            </div>
            <p>
              Welcome to the privacy policy for Bookmie.com Guest Houses. This policy outlines how we collect and protect your personal information when you use our services. Your privacy is important to us, and we are committed to ensuring the confidentiality and security of your personal data.
            </p>
            <p><b>Here are our privacy policies ensured to keep you safe:</b></p>
            <ul>
              <li><b>Information We Collect:</b> Our services related to guest house only collect phone number from the user which is deleted on the users request after booking has expired.</li>
            </ul>
          </div>
        </div>
        <div class="row py-0 px-4 px-md-2 pt-md-3">
          <div class="col-md-12 py-0 ">
            <ul>
              <li><b>Your Privacy Choices:</b> You have the right to access, update, or delete your personal information at any time. You may also delete your booking details after you check out with no risk and your data will be cleared. </li>
              <li><b>Children's Privacy:</b> Our services are not directed at children under the age of 18, and we do not knowingly collect personal information from minors. If you are a parent or guardian and believe that your child has provided us with personal information, please contact us, and we will take steps to delete such information.</li>
              <li><b>Data Security:</b> We take the security of your personal information seriously and implement appropriate measures to protect it from unauthorized access, disclosure, alteration, or destruction. We use encryption technology to safeguard your data during transmission and employ strict access controls to limit access to your information.</li>
              <li><b>Service Providers:</b> We may share your information with trusted service providers who assist us in providing our services, such as payment processors and IT support..</li>
            </ul>
            <p>At Bookmie.com, our mission is to make your campus experience as smooth and enjoyable as possible. With our convenient booking process, secure payment system, interactive map feature, and flexible room options, you can focus on making the most of your social and academic life without worrying about your accommodation arrangements.</p>
            <p>Thank you for choosing Bookmie.com for your accommodation needs. We look forward to serving you and ensuring that your stay is nothing short of exceptional.</p>
        </div>
      </div>
      </div>
    </div>
  </section>
{% endblock 'page' %}

