{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% comment %} <!-- Site Metas --> {% endcomment %}
  <meta name="description" content="Welcome to Bookmie.com, Sign in to your Bookmie Profile and explore our website and easily book a room now.">
  <meta name="keywords" content="hostel, accommodation, rooms, Student hostel, budget stay">
  <meta name="author" content="Bookmie.com">
  <meta http-equiv="content-language" content="en-US">
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="https://bookmie.com">
  <meta name="revisit-after" content="1 day">
  <meta name="rating" content="General">

  {% comment %} <!-- for social media sharing --> {% endcomment %}
  <meta property="og:title" content="Bookmie.com">
  <meta property="og:description" content="Explore comfortable and affordable accommodation in Ghana. Explore our website and easily book a room now.">
  <meta property="og:image" content="../static/home/images/favicon.ico">
  <meta property="og:url" content="https://bookmie.com">
  <meta name="twitter:card" content="../static/home/images/favicon.ico">
  <meta name="twitter:title" content="Bookmie.com">
  <meta name="twitter:description" content="Explore comfortable and affordable accommodation in Ghana. Book your stay now at Bookmie.com.">
  <meta name="twitter:image" content="../static/home/images/favicon.ico">
  
  <link rel="icon" type="image/x-icon" href="{% static 'home/images/favicon.ico' %}">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

  {% comment %} <!-- Bootstrap icons--> {% endcomment %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'forms/css/styles.css' %}" />
    <title>Private Booking | Bookmie.com Quick Login</title>
  </head>
  <body>
    <header>
      <h1><img src="{% static 'home/images/favicon1.png' %}" alt="" style="height: 60px; width: 60px; margin-top: -5px;">Bookmie.com</h1>
    </header>

    {% comment %} <!-- Loader --> {% endcomment %}
    <!-- <div class="load">
      <div class="loader">
        <div class="spinner"></div>
        <p>Validating...</p>
      </div>
    </div> -->

    <div class="container">
      <p>Info is deleted after booking <a type="button" class="btn btn-warning" href="{% url 'quick-rooms:privacy-policy' %}"><i class="bi bi-person-check"></i></a></p>

      <h4 class="h2a">Guest House Privacy</h4>
      {% if messages %} {% for message in messages %}
      <div class="alert alert-{{message.extra_tags}}" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-x-fill" viewBox="0 0 16 16">
          <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 1.59 2.498C8 14 8 13 8 12.5a4.5 4.5 0 0 1 5.026-4.47L15.964.686Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
          <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-4.854-1.354a.5.5 0 0 0 0 .708l.647.646-.647.646a.5.5 0 0 0 .708.708l.646-.647.646.647a.5.5 0 0 0 .708-.708l-.647-.646.647-.646a.5.5 0 0 0-.708-.708l-.646.647-.646-.647a.5.5 0 0 0-.708 0Z"/>
        </svg> {{ message }}
      </div>
      {% endfor %} {% endif %}

      <form id="login-form" 
        hx-post="{% url 'quick-rooms:secure-privacy-code' room_id %}"
        hx-trigger="submit"
        hx-indicator="#loading-spinner"
        hx-swap="#login-form">
        {% csrf_token %}
        <div class="password-container">
        <div class="input-container">
          <input
            type="password"
            id="phone"
            name="phone"
            placeholder="Phone Number"
            required
          />
        </div>
        <div class="toggle-password" id="togglePassword">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="gray" class="bi bi-eye" viewBox="0 0 16 16">
  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
</svg>
    </div>
        </div>
        <div id="msgDiv2" role="alert">
        </div>
        <div class="bttn">
          <button type="submit" id="login-button">Get Quick Room<i   class="bi bi-box-arrow-in-right"></i>
            <img  id="loading-spinner" style="width: 25px; height: 25px;" class="htmx-indicator ml-2" src="{% static 'gifs/loading.gif' %}"/>
          </button>
        </div>
        <div class="log">
          <p><a href="{% url 'quick-rooms:privacy-policy' %}">Privacy Policy</a></p>
        </div>
      </form>
    </div>

    <script src="{% static 'forms/js/scripts.js' %}"></script>

    {% comment %} <!-- HTMX SCRIPTS --> {% endcomment %}
    <script src="https://unpkg.com/htmx.org@1.9.8" integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr" crossorigin="anonymous"></script>

    <footer>
      <span>Copyright &copy; Bookmie 2023</span>
    </footer>
  </body>
</html>
