{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{{ HostelPro.HostelName }}@Rebook</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'home/assets/favicon.ico' %}"/>
    <link rel="icon" type="image/x-icon" href="BaseStaticFiles/home/assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'home/css/styles.css' %}" rel="stylesheet" />
    <link href="BaseStaticFiles/QueryDetails/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'Core:Base' pk_campus=Campus.Campus_ID %}">Rebook</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'Core:home' %}">Home</a>
            </li>
            <li class="nav-item"><a class="nav-link active" href="{% url 'Core:Base' pk_campus=user.campus.Campus_ID %}">Hostels</a></li>

            <li class="nav-item"><a class="nav-link" href="{% url 'Core:profile' %}">Your Profile<i class="bi bi-person-circle"></i></a></li>
          </ul>
          <nav class="navbar bg-light">
            <div class="container-fluid">
              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  No. of Roommates
                </a>
              
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'HostelApp:filter_hostel_rooms' filter_opt=1  hostelName=HostelPro.HostelName %}">One in a Room🥇</a></li>
                  <li><a class="dropdown-item" href="{% url 'HostelApp:filter_hostel_rooms' filter_opt=2  hostelName=HostelPro.HostelName %}">Two in a Room🥈</a></li>
                  <li><a class="dropdown-item" href="{% url 'HostelApp:filter_hostel_rooms' filter_opt=3  hostelName=HostelPro.HostelName %}">Three in a Room🥉</a></li>
                  <li><a class="dropdown-item" href="{% url 'HostelApp:filter_hostel_rooms' filter_opt=4  hostelName=HostelPro.HostelName %}">Four in a Room✅</a></li>
                </ul>
              </div>
            </div>
          </nav>
            <a href="{% url 'Core:logout' %}">
            <button class="btn btn-outline-dark" type="submit">
              <i class="bi bi-wifi-off"></i>
              logout
              <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
            </button>
            </a>
            
        </div>
      </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
         
            <div>
              <h1 class="display-4 fw-bolder"> <a style="color: rgb(231, 227, 227);" href="{% url 'HostelApp:hostelProfile' pk_hostel=HostelPro.HostelName %}">Welcome To {{ HostelPro.HostelName }}</a>🏢</h1>
              {% for message in messages %}
 
                <div class="alert alert-danger" role="alert">
                  {{ message }} !! Please select a different category<a href="#" class="alert-link"></a>.
                </div>
             
              {% endfor %}
            </div>
          <h2 class="lead fw-normal text-white-50 mb-0">{{ HostelPro.class_Of_Hostel }}</h2>
          <h3 class="lead fw-normal text-white-50 mb-0">Call us on {{ HostelPro.Hostel_Phone }}📲</h3>
          <p class="lead fw-normal text-white-50 mb-0">{{ HostelPro.Hostel_Motto }}</p>
        </div>
      </div>
    </header>
    <!-- Section-->
    <section class="py-5">
      <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

          {% for room in Hostel_rooms %}
          <a style="text-decoration:none; color:rgb(48, 45, 45);" href="{% url 'RoomsApp:room_profile' room_id=room.room_id %}">
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Product image-->
                <!-- <img width="150" height="180" class="card-img-top" src="{{ room.Room_img.url }}" alt="..."/> -->
              <!-- </a> -->
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Sale badge-->
                  <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                  {% if room.Occupied %}
                     Full
                  {% else %}
                    Not Full
                  {% endif %}
                  </div>
                  <!-- Product name-->
                  <h5 class="fw-bolder">{{ room.Room_No }}</h5>
                  <h5 class="fw-bolder">{{ room.Room_Category }}</h5>
                  <div
                    class="d-flex justify-content-center small text-warning mb-2">
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                  </div>
                  <h5 class="fw-bolder">{{ room.Room_Capacity }} in a Room🏠</h5>
                  <!-- Product price-->
                  &#8373;{{ room.Room_Price }}💵
                </div>
              </div>
              <!-- Product actions-->
              <form
                action="{% url 'Core:book' room_id=room.room_id %}" method="POST">
                {% csrf_token %}
                <input type="hidden", name="room_id" value="{{ room.room_id }}">
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center">
                    <button type="submit" class="btn btn-outline-dark mt-auto">
                      Book🏷️
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          </a>
          {% endfor %}
        
         
       <!-- NEXT ROOM container -->

          <div class="col mb-5">
            <div class="card h-100">
              <!-- Product image-->
              <img
                class="card-img-top"
                src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                alt="..."
              />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">Room container</h5>
                  <!-- Product reviews-->
                  <div
                    class="d-flex justify-content-center small text-warning mb-2"
                  >
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                  </div>
                  <!-- Product price-->
                  $40.00
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a class="btn btn-outline-dark mt-auto" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Rebook 2023</p>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'home/js/scripts.js' %}"></script>
  </body>
</html>
