{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'forms/css/successful.css' %}" />
    <!-- <link href="{% static 'forms/css/styles.css' %}" rel="stylesheet" /> -->
    <title>Reset Password Successful</title>
  </head>
  <body>
    <header>
        <h1>Book Up</h1>
    </header>
    <div class="alert alert-success" role="alert">
      Your password has been set. <a href="{% url 'Core:login' %}" class="alert-link">Click here to log in</a>, You may go ahead and log in now if you want to.
    </div>    

    <footer>
        <span>Copyright &copy; Your Website 2023</span>
    </footer>
  </body>
</html>