{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'forms/css/successful.css' %}" />
    <!-- <link href="{% static 'home/css/styles.css' %}" rel="stylesheet" /> -->
    <title>Reset Password Successful</title>
  </head>
  <body>
    <header>
        <h1>Book Up</h1>
    </header>
  
    <div class="container">
        <!-- <div class="alert alert-success" role="alert"> -->
          <p style="color: rgb(255, 255, 255);">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
          If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder
        </p>
          <!-- </div> -->
        <a style="color: darkorange;" href="{% url 'reset_password' %}">Send email again</a>
    </div>
    <footer>
        <span>Copyright &copy; Your Website 2023</span>
    </footer>
  </body>
</html>