{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{% static 'forms/css/signup.css' %}" />
    <title>Bookmie.com | Sign Up</title>
  </head>
  <body>
    <header>
      <h1>Bookmie.com</h1>
    </header>

    <!-- Loader -->
    <div class="load">
      <div class="loader">
        <div class="spinner"></div>
        <p id="signup-p-tag"></p>
      </div>
    </div>

    <div class="container">
      <div class="head">
        <h2 class="h2a"><a href="{% url 'accounts:login' %}">Log In</a></h2>
        <h2 class="h2b"><a href="{% url 'accounts:signup' %}">Sign Up</a></h2>
      </div>
      {% if messages %} {% for message in messages %}
      <p style="color: aliceblue">{{message}}</p>
      {% endfor %} {% endif %}

      <form
        data-formtype="signup-form"
        action="{% url 'accounts:signup' %}"
        method="POST"
      >
        {% csrf_token %}

        <div class="input-container">
          <select name="campus" id="campus">
            <option value="">Your Campus</option>
            <option value="KNUST">KNUST Campus</option>
            <option value="">UG Campus</option>
            <option value="">UHAS Campus</option>
            <option value="">UMAT Campus</option>
          </select>
        </div>
        <div class="input-container">
          <input
            type="text"
            id="first-name"
            name="first_name"
            placeholder="First Name"
            required
          />
        </div>
        <div class="input-container">
          <input
            type="text"
            id="middle-name"
            name="middle_name"
            placeholder="Middle Name(Optional)"
          />
        </div>
        <div class="input-container">
          <input
            type="text"
            id="last-name"
            name="last_name"
            placeholder="Last Name"
            required
          />
        </div>
        <div class="input-container">
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            required
          />
        </div>
        <div class="input-container">
          <input
            type="text"
            id="phone"
            name="phone"
            placeholder="Phone No Eg.0233..."
            required
          />
        </div>
        <div class="input-container">
          <input
            type="text"
            id="student-id"
            name="student_id"
            placeholder="Student ID Number"
            required
          />
        </div>
        <div class="input-container">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Please enter a strong password"
            required
          />
        </div>
        <div class="input-container">
          <input
            type="password"
            id="confirm-password"
            name="confirm_password"
            placeholder="Confirm Password"
            required
          />
        </div>
        <div class="btn">
          <button type="submit" id="signup-button">Proceed</button>
        </div>
        <div class="log">
          <p>
            Already have an account?
            <a href="{% url 'accounts:login' %}">Log In</a>
          </p>
        </div>
      </form>
    </div>

    <script src="{% static 'forms/js/scripts.js' %}"></script>
    <footer>
      <span>Copyright &copy; Your Website 2023</span>
    </footer>
  </body>
</html>
