{% extends "Base/Main_layout.html" %}
    {% block body %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{message}}.
                        <a href="{%url 'Core:profile' %}" class="alert-link">Terminate booking here!!</a> Or scroll down to pay   
                    </div>
                {% endfor %}
                {% endif %}
                <div><h1 class="display-4 fw-bolder">Initiate Payment</h1>
                <div><h6 class="display-4 fw-bolder">Price of room: GHC{{ room.Room_Price }}</h6></div>
                </div>
            <h3 class="lead fw-normal text-white-50 mb-0">Call us on {{ HostelPro.Hostel_Phone }}📲</h3>
            <p class="lead fw-normal text-white-50 mb-0">Price of room: GHC{{ room.Room_Price }}.</p>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
            <div class="input-group mb-3">
                <input type="email" value="{{ user.email }}" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2"></span>
                <button type="submit" class="btn btn-success">Pay for Room</button>
              </div>
            </form>
        </div>
        </header>
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Rebook 2023</p></div>
        </footer>
    {% endblock %}