{% extends "Base/Main_layout.html" %}
    {% block body %}
        <div class="container">
            <h1>Proceed to payments</h1>
                <div>
                    <script src="https://js.paystack.co/v1/inline.js"></script>
                    <h1>Make payment of GHS{{ room.Room_Price }}</h1>
                    <div class="alert alert-success" role="alert">
                        A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                      </div>
                    <button class="btn btn-outline-dark mt-auto"  onclick="payWithPayStck()">Make Payment</button>
                </div>
           <script>
            function payWithPayStck(){
                let currency = 'GHS'
                let plan = ''
                let reference = "{{payment.reference}}"
                let obj = {
                    key : "{{paystack_public_key}}",
                    email : "{{payment.email}}",
                    reference : reference,
                    callback: function(response){
                        window.location.href="{% url 'PaymentApp:verify_payments' reference=payment.reference %}"
                    }
                }
            }
            if (Boolean(currency)){
                obj.currency=currency.toUpperCase()
            }
            if(Boolean(plan)){
                var handler = payStackPop.setup(obj)
            }
            handler.openIframe()
           </script>
        </div>
    {% endblock %}