{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate 'Page Not Found' %}</title>
    <style>
        /* Your custom CSS styles go here */
        body {
            font-family: Arial, sans-serif;
            background-color: #000000;
        }
        .container {
            text-align: center;
            padding: 100px;
        }
        h1 {
            font-size: 48px;
            color: #ffb10a;
        }
        p {
            font-size: 30px;
            color: #555;
        }
    </style>
</head>
<body>
    <br>
    <div style="text-align: center;">
    <h1>Sorry Bro😿</h1>
    </div>
    <div class="container">
        <h1>{% translate '😢Oops! It seems we have a problem with our server' %}</h1>
        <p>We will get back to you shortly</p>
        <!-- <a href="/" style="text-decoration: none; color: #ff5733;">Go to Homepage</a> -->
    </div>
</body>
</html>
