:root{
    --primary: #FEA116;
    --light: #F1F8FF;
    --dark: #0F172B;
}
*{
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.904)), url(../img/impact.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1{
    font-size: 50px;
    color: var(--primary);
    margin: 10px;
    text-shadow: 2px 2px black;
}

span{
    font-size: 10px;
    color: gray;
}

.container {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.904));
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

h2 {
    color: var(--primary);
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p{
    color: var(--light);
    font-size: 15px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .container {
        width: 80%;
    }

    h1{
        font-size: 40px;
    }

    h2{
        font-size: 25px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 90%;
    }

    h1{
        font-size: 30px;
    }

    h2{
        font-size: 20px;
    }
    p{
        font-size: 13px;
    }
}

footer{
    margin: 50px auto;
}