{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'payment/css/initiate_payment.css' %}" />
    <title>Payment | guudnyt</title>
  </head>
  <body>
    <header>
        <h1>Book Up</h1>
    </header>
    <div class="container">

      {% if messages %}
      {% for message in messages %}

          <h1>{{ message }}</h1>

      {% endfor %}
      {% endif %}

        <div class="first-content">
            <div class="container1">
                <h2>Ready To Make Payment? Hover</h2>
                <!-- Card -->
                <div class="left-side">
                 <div class="card">
                  <div class="card-line"></div>
                  <div class="buttons"></div>
                 </div>
                 <div class="post">
                  <div class="post-line"></div>
                  <div class="screen">
                   <div class="dollar">$</div>
                  </div>
                  <div class="numbers"></div>
                  <div class="numbers-line2"></div>
                 </div>
                </div>
               </div>
          </div>
          <div class="second-content">
          <!-- Second Page -->
      <h2>Initiate Payment Of ₵{{ room.room_price }}</h2>
      <form id="paymentForm" method="POST" action="{% url 'payments:init-payment' room.room_id %}">
        {% csrf_token %}
        <div class="input-container">
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            value="{{ user.email }}" 
            required />
        </div>
        
        
        <div class="btn">
          <a href="{% url 'core:hostels' %}">
            <button>Cancel</button>
          </a>
          <button type="submit">Proceed</button>
        </div>  
      </div>
      </form>
    </div>
    </div>
    <footer>
        <span>Copyright &copy; Your Website 2023</span>
    </footer>
  </body>
</html>
