<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment | guudnyt</title>
   
</head>
<body>
    <br>
    <h1>Make Payment of {{ room.room_price }}</h1>
    <br>
    <form id="paymentForm">

      <!-- div should not be deleted in order for payStack to work -->
      <div class="form-group">
        <input type="email" id="email-address" required hidden />
      </div>
      <div class="form-submit">
        <button type="submit" onclick="payWithPaystack()"> Pay </button>
      </div>
    </form>
    
    <script src="https://js.paystack.co/v1/inline.js"></script>
          
    <script>
          var paymentForm = document.getElementById('paymentForm');
      paymentForm.addEventListener('submit', payWithPaystack, false);
      function payWithPaystack() {
        var handler = PaystackPop.setup({
          key: '{{ paystack_public_key }}', // Replace with your public key
          email: '{{ user.email }}',
          amount: '{{ room.room_price }}' * 100, // the amount value is multiplied by 100 to convert to the lowest currency unit
          currency: 'GHS', // Use GHS for Ghana Cedis or USD for US Dollars
          ref: '{{ reference }}', // Replace with a reference you generated
          callback: function(response) {
            //this happens after the payment is completed successfully
            var reference = response.reference;
            alert(`Payment complete! with Reference ${reference}` );

            window.location.href = "{% url 'payments:verify-payment' reference %}"
            // Make an AJAX call to your server with the reference to verify the transaction
          },
          onClose: function() {
            alert('Transaction was not completed, window closed.');
          },
        });
        handler.openIframe();
      }
    </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</body>
</html>