{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ hostel.hostel_name.title }}-Direction | Bookmie.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="{% static 'home/images/favicon.ico' %}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <link
      href="{% static 'list_staticfiles/css/styles.css' %}"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'maps/map.css' %}" />
  </head>
  <body>
    <!-- Navigation-->
    <nav class="nav navbar navbar-expand-lg navbar-light">
      <div class="container px-4 px-lg-5">
        <h1>
          <a class="navbar-brand" href="{% url 'core:index' %}" style="color: orange"
            ><img src="{% static 'home/images/favicon.ico' %}" alt="" style="height: 30px; width: 30px;"> Bookmie.com</a
          >
        </h1>
        <!-- <h1><a class="navbar-brand" href="#!" style="color: orange;">{{ hostel.hostel_name }} Direction</a></h1> -->
        <div id="menu-btn" class="custom_menu-btn">
              <button>
                <span class="s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          style="z-index: 10; opacity: 0;"
          onclick="openNav()"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'core:about' %}"
                >About</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'core:contact' %}"
                >Report</a
              >
            </li>
          </ul>
          <nav class="d-flex justify-content-center">
            <div class="bttn">
              {% if user.is_anonymous %}
              <a href="{% url 'accounts:signup' %}">
              <button class="btn btn-outline-warning px-4" type="submit">
                  Sign up
                  <i class="bi bi-person-circle"></i>
              </button>
              </a>

            <a href="{% url 'accounts:login' %}">
                <button class="btn btn-outline-warning px-4" type="submit">
                    Log in
                    <i class="bi bi-box-arrow-in-left"></i>
                </button>
            </a>

            {% else %}
            <a href="{% url 'accounts:booking-and-payments' %}">
              <button class="btn btn-outline-warning px-4" type="submit">
                  Profile
                  <i class="bi bi-person-circle"></i>
              </button>
            </a>

            <a href="{% url 'accounts:logout' %}">
                <button class="btn btn-outline-warning px-4" type="submit">
                    Log out
                    <i class="bi bi-box-arrow-right"></i>
                </button>
            </a>
            {% endif %}
            </div>
        </nav>
        </div>
      </div>
    </nav>

    <!-- break and hr-line to prevent map(statilite view button) from entering the navbar -->
    <br />
    <hr />

    <!--The div element for the map -->
    <div id="map">
      <!-- MAP SPACE -->
    </div>

    <input id="campus" type="hidden" value="{{ hostel.campus.campus_name }}">

    <input id="hostel-url" type="hidden" value="{% url 'hostels:profile' hostel.hostel_id %}"/>

    <input id="hostel-name" type="hidden" value="{{ hostel.hostel_name.title }}" />

    <input id="lat" type="hidden" value="{{coordinate.lat}}" />

    <input id="lng" type="hidden" value="{{coordinate.lon}}" />


    <input id="campus-lat" type="hidden" value="{{ campus_coordinates.lat}}">
    <input id="campus-lng" type="hidden" value="{{ campus_coordinates.lon }}">

    <!-- prettier-ignore -->  
    <script>(g=>{var h,a,k,p="AIzaSyAwKrOfycjP7IivgbIh6jLovmuAegclUWk",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyAwKrOfycjP7IivgbIh6jLovmuAegclUWk", v: "weekly"});</script>


    <script type="module" src="{% static 'maps/map_direction.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


    <script src="{% static 'list_staticfiles/js/scripts.js' %}"></script>
  </body>
</html>
