New Hostel Booking Notification for:
Student ID: {{ tenant.user.student_id }}
Name: {{ tenant.user.username }}
Room: {{ tenant.room.room_no }}

Dear {{ manager.username }},

We are excited to inform you that a new booking has been made at {{ tenant.hostel.hostel_name }}. The details of the booking are as follows:

Student ID: {{ tenant.user.student_id }}
User Name: {{ tenant.user.username }}

This booking signifies another satisfied customer choosing {{ tenant.hostel.hostel_name }} for their accommodation needs. Please ensure that the necessary arrangements are made to welcome the guest on the specified dates.

Please Note:
Scan the qrcode of the user upon arrival to verify his/her credentials

If you have any questions or need further information, feel free to contact us.

Thank you for your continued dedication to providing exceptional service.

Best regards,

Bookmie.com/official
0206237060