New Hostel Booking Notification for:

Dear {{ manager.username }},

We are excited to inform you that a new booking has been made at {{ tenant.hostel.hostel_name }}. The details of the booking are as follows:

Student ID: {{ tenant.user.student_id }}
User Name: {{ tenant.user.username }}
Room: {{ tenant.room.room_no }}

Please Note:
Scan the qrcode of the user upon arrival to verify his/her credentials

If you have any questions or need further information, feel free to contact us. 
Bookmie.com@gmail.com
0206237060

Thank you for your continued dedication to providing exceptional service.

Best regards,