
Subject: Account Security Notification

Dear {{ user.username }},

This is a notification to inform you that your account at Bookmie.com was recently accessed.
@ {{time}} 
If this login was you, no further action is required.

If you did not log in recently, please take the following steps to secure your account:

Change your password immediately by visiting https://{{domain}}/reset-password/
Review your account activity for any unauthorized access.

If you have any concerns or need assistance, please contact our support team at customer.bookmie@gmail.com or 0256646334.

Thank you for your attention to this matter. We appreciate your commitment to keeping your account secure.

Best regards,

Bookmie.com
Contact us on 0206237060