Dear {{user.username}},

Congratulations! Your room booking at [Your Hotel/Service] is now confirmed, and we're thrilled to be hosting you. We appreciate your trust in us for your accommodation needs.

Booking Details:

Hostel: {{ tenant.hostel.hostel_name }}
Check-In Date: {{ tenant.start_date }}
Check-Out Date: {{ tenant.end_date }}
Room Number: {{ tenant.room.room_no }}
Total Amount Paid: {{ amount }}
Confirmation Number: {{ tenant.tenant_id }}

Here are a few important details to ensure a smooth and enjoyable stay:

Check-In Information:

Check-in begins at {{ tenant.start_date }}. Please make sure to arrive during this window.
If you have any special requests or specific requirements, feel free to let us know in advance by replying to this email.
Cancellation Policy:

Review our cancellation policy [provide a link] for any changes to your booking.
Contact Information:

In case you need to reach us during your stay, our front desk is available at [Front Desk Contact Number].
Explore Our Amenities:

{% comment %} Take advantage of our [list any notable amenities] during your stay to make it even more memorable. {% endcomment %}
We hope your experience with [Your Hotel/Service] exceeds your expectations. If you have any questions or concerns, our dedicated customer service team is here to assist you. Simply reply to this email or contact us at [customer.service@email.com].

Thank you again for choosing [Your Hotel/Service]. We look forward to providing you with a comfortable and enjoyable stay.

Safe travels, and see you soon!

Best regards,

[Your Name]
[Your Position]
[Your Hotel/Service]