<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1> Still in developement</h1> 
    {% for message in messages %}

    <!-- room selection messages -->
        <div class="alert alert-danger" role="alert">
        {{ message }}
        </div>
  
  {% endfor %}
    <hr>
    <a href="{% url 'core:hostels' %}">Home</a>
    <hr>
    <a href="{% url 'payments:tenant-authentication' %}">Get Verification</a>
    <div>
        <h1>{{ user.username }}</h1>
        <hr>
        <hr>
        <!-- <h1 style="float: ri;">Your booking details</h1> -->
        {% if booking %}
            <div>
                <div>
                    <a href="{% url 'core:delete-booking' %}">
                        <button  type="button" class="btn btn-danger">Delete booking</button>
                    </a>
            
                    <a href="{% url 'payments:init-payment' booking.room.room_id %}">
                        <button type="button" class="btn btn-success">Pay for room</button>
                    </a>
                </div>
                <h1>{{ booking.room }}</h1>
                <br>
                <h1>
                Room {{ booking.room.room_no }}
                </h1>
                <br>
                <h1>{{ booking.room.hostel.hostel_name}}</h1>
                <br>
                <h1>{{ booking.room.room_price }}</h1>

            </div>
        {% else %}

            <h1>No bookings to show</h1>

        {% endif %}
    </div>
<!-- 
    <div style="float:right;
    margin-bottom: 400%;">
        
        <hr>
        <div>
            <h1>Room 1</h1>
            <br>
            <h1>hostel name</h1>
            <br>
            <h1>room price</h1>
            <button>pay</button>
        </div>
    </div> -->
</body>
</html>