{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
  <meta name="description" content="Welcome to Bookmie.com, offering comfortable and affordable accommodation in Ghana. Explore our website and easily book a room now.">
  <meta name="keywords" content="hostel, accommodation, rooms, Student hostel, budget stay">
  <meta name="author" content="Bookmie.com">
  <meta http-equiv="content-language" content="en-US">
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="https://bookmie.com">
  <meta name="revisit-after" content="1 day">
  <meta name="rating" content="General">

  <!-- for social media sharing -->
  <meta property="og:title" content="Bookmie.com">
  <meta property="og:description" content="Explore comfortable and affordable accommodation in Ghana. Explore our website and easily book a room now.">
  <meta property="og:image" content="../static/home/images/favicon.ico">
  <meta property="og:url" content="https://bookmie.com">
  <meta name="twitter:card" content="../static/home/images/favicon.ico">
  <meta name="twitter:title" content="Bookmie.com">
  <meta name="twitter:description" content="Explore comfortable and affordable accommodation in Ghana. Book your stay now at Bookmie.com.">
  <meta name="twitter:image" content="../static/home/images/favicon.ico">
  
    <title>Get All Available Rooms on Campus | Bookmie.com</title>
  <link rel="icon" type="image/x-icon" href="{% static 'home/images/favicon.ico' %}">
    <!-- Favicon-->
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'home/assets/favicon.ico' %}"
    />
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    
    <!-- BACKEND CODE FOR STATIC ROUTING -->
    <link href="{% static 'list_staticfiles/css/styles.css' %}" rel="stylesheet" />
  </head>
  <body>


      <!-- Loader -->
    <div class="load">
      <div class="loader">
        <div class="spinner"></div>
        <p id="loading-option"></p>
       </div>
    </div>  
  

    <!-- Navigation-->
    <nav class="nav navbar navbar-expand-lg navbar-light ">
      <div class="container px-4 px-lg-5">
<h1><a class="h1" href="{% url 'core:index' %}"><img src="{% static 'home/images/favicon1.png' %}" alt="" style="height: 40px; width: 40px; margin-top: -5px;">Bookmie.com</a></h1> 
       <div id="menu-btn" class="custom_menu-btn">
              <button>
                <span class="s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          style="z-index: 10; opacity: 0;"
          onclick="openNav()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'core:about' %}"
                >About</a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'core:contact' %}"
                >Report</a>
            </li>
             
          </ul>
        {% if user.is_anonymous %}
          <!-- <form > -->
            <div class="bttn">
            <a class="d-flex justify-content-center" href="{% url 'accounts:signup' %}">
              <button class="btn btn-outline-warning px-4" type="submit">
                Sign up
                <i class="bi bi-person-circle "></i>
              </button>
            </a>

            <a class="d-flex justify-content-center" href="{% url 'accounts:login' %}">
              <button class="btn btn-outline-warning px-4" type="submit">
                Log in
                <i class="bi bi-box-arrow-in-left"></i>
              </button>
            </a>
            </div>
          <!-- </form> -->
        {% else %}
        <div class="bttn">
          <a class="d-flex justify-content-center" href="{% url 'accounts:booking-and-payments' %}">
            <button class="btn btn-outline-warning px-4" type="submit">
              Profile
              <i class="bi bi-person-circle "></i>
            </button>
          </a>
        <!-- <form > -->
          <a class="d-flex justify-content-center" href="{% url 'accounts:logout' %}">
            <button class="btn btn-outline-warning px-4" type="submit">
              Log out
              <i class="bi bi-box-arrow-right"></i>
            </button>
          </a>
        <!-- </form> -->
      {% endif %}
        </div>
      </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark header">
      <div class="box bg-outline-dark">
      <div class="btn-box">
        <a href="{% url 'core:index' %}" class="fw-bold">Home
          <i class="bi bi-house"></i>
        </a>
      </div>
      <div class="btn-box">
        <a href="{% url 'core:hostels' campus.campus_code %}" class="fw-bold"> Hostels 
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building-check" viewBox="0 0 16 16">
            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514Z"/>
            <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1z"/>
            <path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
          </svg>
        </a>
      </div>
      {% comment %} <div class="btn-box">
          <a href="{% url 'accounts:booking-and-payments'%}" class="fw-bold">
            Booking/Payment <i class="bi bi-person-circle"></i>
          </a>
        </div> {% endcomment %}
    </div>
      

      <div class="container px-4 px-lg-5 my-5" style="padding-bottom: 30px;">
        <div class="text-center text-white filter">
          <a class="nav-link active" aria-current="page" href="#!"><h3 class="fw-bolder" style="color: orange;">Lets Help You Get A Room🏠</h3></a>
            <form 
            hx-get="{% url 'rooms:campus-rooms' campus.campus_code %}"
            hx-trigger="change input"
            hx-target="#search-results"
            id="filter-form"
             data-action="Searching..." class="row g-2 align-items-center">
             
              <div class="col-6 col-sm-3">
                <label class="visually-hidden" for="specificSizeSelect">Preference</label>
                <select name="room_capacity" class="form-select" id="specificSizeSelect">
                  <option value="">All</option>
                  <option value="1">One in a room</option>
                  <option value="2">Two in a room</option>
                  <option value="3">Three in a room</option>
                  <option selected value="4">Four in a room</option>
                </select>
              </div> 

              <div class="col-6 col-sm-3">
                <label class="visually-hidden" for="specificSizeSelect">Preference</label>
                <select name="gender" class="form-select" id="specificSizeSelect">
                  {% comment %} <option value="unknown">All</option> {% endcomment %}
                  <option selected value="male">Male Room</option>
                  <option value="female">Female Room</option>
                </select>
              </div>  

              <div class="col-sm-3">
                <input class="form-control"
                type="number"
                name="ptf_room_price_min"
                placeholder="Least price"
                >
              </div>

              <div class="col-sm-3">
                <input class="form-control"
                type="number"
                name="ptf_room_price_max"
                placeholder="Highest price"
                >
              </div>
            
              <a  href="" id='search-button' class="btn drop">
               Show All Rooms <i class="bi bi-arrow-repeat"></i>
              </a> 
            </form>
            
        </div>
      </div>
    </header>

    <!-- Section-->
    <section class="">
      <div class="container px-4 px-lg-5 mt-5">
        <div id="search-results" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    <!-- check if rooms filter is not none -->
    {% if rooms %}
          {% for room in rooms %}
          <a style="text-decoration:none; color:rgb(48, 45, 45);" href="{{ room.get_detail_url }}">
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Product details-->
              <div class="card-body p-2">
                <div class="text-center">
                  <!-- Sale badge-->
                  <div
                    class="badge bg-dark text-white position-absolute"
                    style="top: 0.5rem; right: 0.5rem">
                    <small>More Details</small>
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-geo-alt"
                    viewBox="0 0 16 16"
                    style="scale: 0.7;"
                  >
                    <path
                      d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"
                    />
                    <path
                      d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
                    />
                  </svg>
                  </div>
                  <br>
                  <!-- Product name-->
                  <h6 class="fw-bold mt-2">{{ room.hostel.hostel_name.title }}</h6>
                  <h6 class="">{{ room.gender.capitalize }} Room</h6>
                  <!-- <h5 class="fw-bolder">{{ room.rating }}</h5> -->
                  {% comment %} <div
                    class="d-flex justify-content-center small text-warning mb-2"
                  >
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                  </div> {% endcomment %}
                  <div class="">{{ room.room_capacity }} in a Room🏠</div>
                  <!-- Product price-->
                  <div>GH&#8373;{{ room.ptf_room_price }}💵</div>
                </div>
              </div>
              <!-- Booking form-->
              <form
                class="booking-form"
                action="{% url 'core:booking'  %}"
                method="POST">
                {% csrf_token %}
                <input type="hidden", name="room_id" value="{{ room.room_id }}">
                <div class="card-footer p-3 pt-0 border-top-0 bg-transparent">
                  <div class="text-center">
                    <button type="submit" class="btn mt-auto">
                      Book🏷️
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </a>
          {% endfor %}

        <!-- Dont display section with divs if room filter returns null -->
        {% else %}
        <br>
        <!-- message if there no room available -->
        <a style="text-decoration: none;" href="{% url 'rooms:campus-rooms' campus.campus_code %}" class="w-75">
          <div class="col w-100 mb-5">

            <!-- class = "border border-danger" from boostrap -->
            <div class="card w-100 h-100  border border-danger">
              <div class="card-body p-4">
                <div class="text-center">
                      <h5 class="fw-bolder">Rooms Currently Full😭</h5>
                </div>
              </div>
            </div>
          </div>
        </a>
      {% endif %}
      </div>
    </section>


          
    <!-- Footer-->
    <footer class="py-5 bg-dark footer">
      <div class="custom-shape-divider-top-1695573055">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
            <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
            <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
        </svg>
    </div>

      <div class="container">
        <p class="m-0 text-center text-white filter">Copyright &copy; Bookmie 2023</p>
      </div>
    </footer>
    <!-- HTMX SCRIPTS -->
    <script src="https://unpkg.com/htmx.org@1.9.8" integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr" crossorigin="anonymous"></script>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Core theme JS-->
    <script src="{% static 'list_staticfiles/js/scripts.js' %}"></script>




    <!-- some debounce logic on the client side to prevent too many requests 
    from being sent too quickly as the user interacts with the form inputs(htmx). 
    This can help reduce server load and improve the user experience. -->
    <script src="https://unpkg.com/lodash@4.17.21/lodash.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var form = document.getElementById('filter-form');

            // debounce function to limit the rate of AJAX requests
            var debounceFilter = _.debounce(function () {
                form.dispatchEvent(new Event('change', { bubbles: true }));
            }, 300); // the debounce time as needed

            // Attach the debounce function to the input elements
            form.addEventListener('input', debounceFilter);
        });
    </script>

  </body>
</html>
