{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Bookmie.com | {{ hostel.hostel_name.title }}</title>
    {% comment %} <!-- Favicon--> {% endcomment %}
  <link rel="icon" type="image/x-icon" href="{% static 'home/images/favicon.ico' %}">
    {% comment %} <!-- Bootstrap icons--> {% endcomment %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    {% comment %} <!-- Core theme CSS (includes Bootstrap)--> {% endcomment %}
    <link
      href="{% static 'list_staticfiles/css/styles.css' %}"
      rel="stylesheet"
    />
  </head>
  <body>
    {% comment %} <!-- Loader --> {% endcomment %}
    <div id="loading-indicator" class="load">
      <div class="loader">
        <div class="spinner"></div>
        <p id="loading-option"></p>
      </div>
    </div>

    {% comment %} <!-- Navigation--> {% endcomment %}
    <nav class="nav navbar navbar-expand-lg navbar-light">
      <div class="container px-4 px-lg-5">
        <h1><a class="h1" href="{% url 'core:index' %}"><img src="{% static 'home/images/favicon1.png' %}" alt="" style="height: 40px; width: 40px; margin-top: -5px;">Bookmie.com</a></h1>
        <div id="menu-btn" class="custom_menu-btn">
              <button>
                <span class="s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          style="z-index: 10; opacity: 0;"
          onclick="openNav()"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'core:about' %}"
                >About</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'reviews:contact' %}"
                >Report</a
              >
            </li>
          </ul>

          <!-- <form "> -->
          <div class="bttn">
            {% if user.is_anonymous %}
            <a
              class="d-flex justify-content-center"
              href="{% url 'accounts:signup' %}"
            >
              <button class="btn btn-outline-warning px-4" type="submit">
                Sign up
                <i class="bi bi-person-circle"></i>
              </button>
            </a>

            <a
              class="d-flex justify-content-center"
              href="{% url 'accounts:login' %}"
            >
              <button class="btn btn-outline-warning px-4" type="submit">
                Log in
                <i class="bi bi-box-arrow-in-left"></i>
              </button>
            </a>
            </div>
            {% else %}
            <div class="bttn">
            <a class="d-flex justify-content-center" href="{% url 'accounts:booking-and-payments' %}">
            <button class="btn btn-outline-warning px-4" type="submit">
              Profile
              <i class="bi bi-person-circle "></i>
            </button>
          </a>
          <a
            class="d-flex justify-content-center"
            href="{% url 'accounts:logout' %}"
          >
            <button class="btn btn-outline-warning px-4" type="submit">
              Log out
              <i class="bi bi-box-arrow-right"></i>
            </button>
          </a>
          </div>
            {% endif %}
      </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark header">
      <div class="box bg-outline-dark">
        <div class="btn-box">
          <a href="{% url 'core:index' %}" class="fw-bold"> Home 
          <i class="bi bi-house"></i></a>
        </div>

        <div class="btn-box">
          <a
            href="{% url 'rooms:campus-rooms' hostel.campus.campus_param_id %}"
            class="fw-bold"
          >
            All Rooms
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-buildings" viewBox="0 0 16 16">
            <path d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022ZM6 8.694 1 10.36V15h5zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5z"/>
            <path d="M2 11h1v1H2zm2 0h1v1H4zm-2 2h1v1H2zm2 0h1v1H4zm4-4h1v1H8zm2 0h1v1h-1zm-2 2h1v1H8zm2 0h1v1h-1zm2-2h1v1h-1zm0 2h1v1h-1zM8 7h1v1H8zm2 0h1v1h-1zm2 0h1v1h-1zM8 5h1v1H8zm2 0h1v1h-1zm2 0h1v1h-1zm0-2h1v1h-1z"/>
          </svg>
          </a>
        </div>
      </div>

      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white filter">
          <div>
            <h1 class="fw-bolder">
              <a
                style="color: rgb(254, 161, 22)"
                href="{% url 'hostels:profile' hostel_code=hostel.hostel_code %}"
                >{{ hostel.hostel_name.title }}</a
              >🏢
            </h1>

            {% comment %} <!-- Room filter forms  --> {% endcomment %}
            <div class="button-container">
              <form
                id="filter"
                hx-get="{% url 'hostels:hostel-rooms' hostel.hostel_code %}"
                hx-trigger="submit delay:100ms"
                hx-target="#search-results"
                hx-indicator="#loading-spinner"
              >
                <input type="hidden" value="1" name="capacity" />
                <button class="btn drop">1 in a room</button>
              </form>

              <form
                id="filter"
                hx-get="{% url 'hostels:hostel-rooms' hostel.hostel_code %}"
                hx-trigger="submit delay:100ms"
                hx-target="#search-results"
                hx-indicator="#loading-spinner"
              >
                <input type="hidden" value="2" name="capacity" />
                <button class="btn drop">2 in a room</button>
              </form>

              <form
                id="filter"
                hx-get="{% url 'hostels:hostel-rooms' hostel.hostel_code %}"
                hx-trigger="submit delay:100ms"
                hx-target="#search-results"
                hx-indicator="#loading-spinner"
              >
                <input type="hidden" value="3" name="capacity" />
                <button class="btn drop">3 in a room</button>
              </form>

              <form
                id="filter"
                hx-get="{% url 'hostels:hostel-rooms' hostel.hostel_code %}"
                hx-trigger="submit delay:100ms"
                hx-target="#search-results"
                hx-indicator="#loading-spinner"
              >
                <input type="hidden" name="capacity" value="4" />
                <button type="submit" class="btn drop">4 in a room</button>
              </form>
            </div>
          </div>
          <h3 class="lead fw-normal text-white-50 mb-0">
            Call hostel on {{ hostel.hostel_contact }}
          </h3>
          <p class="lead fw-normal text-white-50 mb-0">
            {{ hostel.hostel_email }}
          </p>
          <img  id="loading-spinner" style="width: 25px; height: 25px;" class="htmx-indicator ml-2" src="{% static 'gifs/loading.gif' %}"/>
        </div>
        <br />
      </div>
    </header>
    {% comment %} <!-- Section--> {% endcomment %}
    <section class="">
      <div class="container px-4 px-lg-5 mt-5">
        <div
          id="search-results"
          class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
        >
          {% comment %} <!-- check if query is not none  --> {% endcomment %}
          {% if hostel_rooms %} {% for room in hostel_rooms %}
          <a
            style="text-decoration: none; color: rgb(48, 45, 45)"
            href="{{ room.get_detail_url }}"
          >
            <div class="col mb-5">
              <div class="card h-100">
                {% comment %} <!-- Product image-->
                <!-- <img width="150" height="180" class="card-img-top" src="{{ room.Room_img.url }}" alt="..."/> --> {% endcomment %}
                {% comment %} <!-- </a> --> {% endcomment %}
                {% comment %} <!-- Product details--> {% endcomment %}
                <div class="card-body p-2">
                  <div class="text-center">
                    {% comment %} <!-- Sale badge--> {% endcomment %}
                    {% comment %} <!-- <a href="{{ room.get_profile_url }}"> --> {% endcomment %}
                    <div
                      class="badge bg-dark text-white position-absolute"
                      style="top: 0.5rem; right: 0.5rem"
                    >
                    <small>More Details</small>
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-geo-alt"
                    viewBox="0 0 16 16"
                    style="scale: 0.7;"
                  >
                    <path
                      d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"
                    />
                    <path
                      d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
                    />
                  </svg>
                    </div>
                    <br />
                    {% comment %} <!-- </a>  --> {% endcomment %}
                    {% comment %} <!-- ROOM NUMBER--> {% endcomment %}
                    <h5 class="fw-bold mt-2">Rm-{{ room.room_no }}</h5>
                    <h6 class="">{{ room.gender.capitalize }} Room</h6>
                    <!-- <h5 class="fw-bolder">{{ room.rating }}</h5> -->

                    {% comment %} <!-- stars for looping through room rating --> {% endcomment %}
                    {% comment %}
                    <div
                      class="d-flex justify-content-center small text-warning mb-2"
                    >
                      <div class="bi-star-fill"></div>
                      <div class="bi-star-fill"></div>
                      <div class="bi-star-fill"></div>
                      <div class="bi-star-fill"></div>
                      <div class="bi-star-fill"></div>
                    </div>
                    {% endcomment %}
                    <div>
                      {{ room.room_capacity }} in a Room🏠
                    </div>
                    {% comment %} <!-- Room price--> {% endcomment %}
                    &#8373;{{ room.ptf_room_price }}💵
                  </div>
                </div>
                {% if room.accept_half_payment %}
                <small class="type part btn badge mx-auto mb-2">Accepts Part Payment</small>
                {% else %}
                <small class="type btn badge mx-auto mb-2">Full Payment Required</small>
                {% endif %}
                {% comment %} <!--booking form for each room--> {% endcomment %}
                <form
                hx-post="{% url 'core:booking'  %}"
                hx-target="#htmx-message-{{room.room_id}}"
                hx-trigger="submit"
                hx-indicator="#loading-indicator">
                {% csrf_token %}
                <input type="hidden", name="room_id" value="{{ room.room_id }}">
                <div class="card-footer p-3 pt-0 border-top-0 bg-transparent">
                  <div id="htmx-message-{{room.room_id}}" class="text-center">
                    <button type="submit" class="btn mt-auto">
                      Book🏷️
                    </button>
                  </div>
                </div>
              </form>
              </div>
            </div>
          </a>
          {% endfor %} {% else %}
          {% comment %} <!-- message if there no room available --> {% endcomment %}
          <a
            style="text-decoration: none; color: rgba(5, 5, 5, 0.938)"
            href="{% url 'rooms:campus-rooms' hostel.campus.campus_code %}" class="w-75"
          >
            <div class="col w-100 mb-5">
              {% comment %} <!-- class = "border border-danger" from boostrap --> {% endcomment %}
              <div class="card w-100 h-100 border border-danger">
                <div class="card-body p-4">
                  <div class="text-center">
                    <h5 class="fw-bolder">Hostel is currently full😭</h5>
                  </div>
                </div>

                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center">
                    <button type="submit" class="btn btn-outline-dark mt-auto">
                      Click To Search All Rooms
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </a>
          {% endif %}
          {% comment %} <!-- NEXT ROOM container --> {% endcomment %}
        </div>
      </div>
    </section>

    <!-- Footer-->
    <footer class="py-5 bg-dark footer">
      <div class="custom-shape-divider-top-1695573055">
        <svg
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1200 120"
          preserveAspectRatio="none"
        >
          <path
            d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
            opacity=".25"
            class="shape-fill"
          ></path>
          <path
            d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
            opacity=".5"
            class="shape-fill"
          ></path>
          <path
            d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
            class="shape-fill"
          ></path>
        </svg>
      </div>

      <div class="container">
        <p class="m-0 text-center text-white filter">
          Copyright &copy; Bookmie 2023
        </p>
      </div>
    </footer>
    {% comment %} <!-- HTMX SCRIPTS --> {% endcomment %}
    <script
      src="https://unpkg.com/htmx.org@1.9.8"
      integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
      crossorigin="anonymous"
    ></script>

    {% comment %} <!-- Bootstrap core JS--> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    {% comment %} <!-- Core theme JS --> {% endcomment %}
    <script src="{% static 'list_staticfiles/js/scripts.js' %}"></script>
  </body>
</html>
