{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Rebook</title>
        <!-- Favicon-->
        <!-- <link rel="icon" type="image/x-icon" href="{% static 'QueryDetails/assets/favicon.ico' %}" /> -->
        <link rel="icon" type="image/x-icon" href="ProfileStaticFiles/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
    
        <link href="{% static 'profileStaticfiles/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="nav navbar navbar-expand-lg navbar-light ">

            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!" style="color: orange;">BookUp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 text-center">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'core:index' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'rooms:campus-rooms' room.campus.campus_code %}">All Rooms</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'accounts:booking-and-payments'%}" >Booking/Payments</a></li>
                    </ul>
                    <form class="d-flex justify-content-center">
                        <a href="{% url 'accounts:logout' %}">
                        <button class="btn drop" type="submit">
                            logout
                        </button>
                        </a>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Product section-->
        <section class="py-5 section" style="color: white;">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    
                    <div class="col-md-6"><a href="{{ room.room_img.url }}"><img class="card-img-top mb-5 mb-md-0 img" src="{{ room.room_img.url}}" alt="..." /></a></div>
                    <div class="col-md-6 text-center">
                        <div class="small mb-1">SKU: BST-498</div>
                        <h1 style="color: orange;">Room {{ room.room_no }}</h1>
                        <h3 style="color: orange;">Hostel: {{ room.hostel.hostel_name }}</h3>
                        <h3 style="color: orange;">Floor {{ room.floor_no }}</h3>
                        {% comment %} <!-- <a href="{% url 'hostels:hostel-rooms' hostel.hostel_id %}"> --> {% endcomment %}
                        {% comment %} <!-- <h1 class="display-5 fw-bolder">{{ room.hostel.hostel_name }}</h1></a> --> {% endcomment %}
                        <h1 class="display-5 fw-bolder"> Price GHS-{{ room.room_price }}</h1>
                        
                        {% if room.inbuilt_kitchen %}
                            <p>Inbuilt Kitchen <span class="badge text-bg-success">Check &#x2713;</span></p>
                        {% else %}
                            <p>No Inside Kitchen/Shared Kitchen <span class="badge text-bg-danger">&#x2718;</span></p>
                        {% endif %}

                        {% if room.inbuilt_bathroom %}
                            <p>Personal Bathrooom <span class="badge text-bg-success">Check &#x2713;</span></p>
                        {% else %}
                            <p>Shared bathroom <span class="badge text-bg-warning">&#x2713;</span></p>
                        {% endif %}

                        {% if room.inbuilt_balconi %}
                            <p>Inbuilt Balconi <span class="badge text-bg-success">Check &#x2713;</span></p>
                        {% else %}
                        <p>No Balconi <span class="badge text-bg-danger"> &#x2718;</span></p>
                        {% endif %}

                        {% if room.air_condition %}
                            <p>air condition <span class="badge text-bg-success">Check &#x2713;</span></p>
                        {% else %}
                            <p>No air condition <span class="badge text-bg-danger">&#x2718;</span></p>
                        {% endif %}
                        <div class="fs-5 mb-5">
                            <!-- Dynamic room price -->
                            <!-- <span>GH&#8373;{{ Room.Room_Price }}</span> -->

                            <!-- <span>GH&#8373;2687</span> -->
                        </div>
                        <p class="lead"><h1 style="color: orange;">Individuals who booked🏠</h1>

                        All bookings will be deleted in 24hrs if payments💵 are not made. If room is full for booking try and refresh in 24hrs⏰ time and Book again🏷️</p>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" value="{{ room.room_capacity }} in a room" style="max-width: 7rem" />
                        <form action="{% url 'core:booking' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="room_id" value="{{ room.room_id }}">
                            <button class="btn drop flex-shrink-0" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Book Now🏷️
                            </button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4 text-center">Direction to location</h2>
                <!-- <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"> -->
                   
            <!-- maps -->
            <!-- <div class="col-md-6 px-0"> -->
                <div class="map_container">
                    <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France" width="900" height="300" frameborder="0" style="border:0; width: 100%; height:100%" allowfullscreen></iframe>
                    </div>
                </div>
                <!-- </div> -->

                <!-- </div> -->
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark footer">
            <div class="custom-shape-divider-top-1695573055">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                    <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                    <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
                </svg>  
            </div>

            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Rebook 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
  
        <script src="{% static 'profileStaticfiles/js/scripts.js' %}"></script>
    </body>
</html>
