<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Payment was succesfull
        proceed to getting the your authentcation
    </h1>
    <br>

    <h1>
        Note: Do not share Credentials with anyone and provide Credentials
        when you get to teh hostel for verification
    </h1>
    <br>
    <a style="font-size: larger;" href="{% url 'payments:tenant-authentication' %}">GET Credentials for room
    </a>
</body>
</html>