{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success | Hosabella</title>
    <link rel="stylesheet" href="{% static 'success/success.css' %}">
</head>
<body>
    <div class="container">
        <h1>Payment Successful!</h1>
        <p>Congratulations on your successful payment. Proceed to get your authentication credentials.</p>
        <p><strong>Note:</strong> Do not share your credentials with anyone. Provide them when you get to the hostel for verification.</p>
        <a class="profile-button" href="{% url 'accounts:booking-and-payments'%}">Return to Profile</a>

        <a href="{% url 'payments:tenant-authentication' %}">Get User Credentials</a>
     
        <p><a href="#">Terms and Conditions</a></p>
    </div>


</body>
</html>
