:root{
  --primary: #FEA116;
    --light: #F1F8FF;
    --dark: #0F172B;
}

/* Fade in Animation */
.section:nth-child(odd) {
  visibility: hidden;
  opacity: 0;
  transform: translateX(130px);
  transition: all 1s;
}
.section:nth-child(even) {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-130px);
  transition: all 1s;
}

.section.fade-in{
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/*
.section .d {
  visibility: hidden;
  opacity: 0;
  transform: translateY(90px) scale(0.8);
  transition: all 0.7s;
  overflow: hidden;
}
.section .l {
  visibility: hidden;
  opacity: 0;
  transform: translateX(90px) scale(0.8);
  transition: all 0.7s;
  overflow: hidden;
}
.section .r {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-90px) scale(0.8);
  transition: all 0.7s;
  overflow: hidden;
}
.section .t {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-90px) scale(0.8);
  transition: all 0.7s;
  overflow: hidden;
}

.section.fade-in .d, .section.fade-in .l, .section.fade-in .r,.section.fade-in .t {
  visibility: visible;
  opacity: 1;
  transform: translateY(0) scale(1);
}

.section.fade-in .d1 {
  transition-delay: 0.4s;
}

.section.fade-in .d2 {
  transition-delay: 0.8s;
}

.section.fade-in .d3 {
  transition-delay: 1.2s;
}

.section.fade-in .d4 {
  transition-delay: 1.6s;
}

.section.fade-in .d5 {
  transition-delay: 2s;
} */

/* Animation end */


.h5, .h2{
  color: orangered ;
}

.h2{
  font-weight: 800;
  text-shadow: 2px 2px 2px black;
}

a{
  color: var(--dark);
}

.header_section .h2{
  margin-top: 10px;
}

section :not(:last-of-type) > img{
  border-radius: 10px;
}

html{
  overflow-x: hidden !important;
  max-width: 100vw !important;
}

body {
  font-family: Roboto, sans-serif;
  color: #0c0c0c;
  overflow-x: hidden !important;
  max-width: 100vw !important;
  background-color: #dcdef8;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heading_container h2 {
  padding-left: 5px;
  position: relative;
  border-left: 7px solid #FEA116;
  font-weight: bold;
}

/*header section*/
.hero_area {
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.5)), url(../images/12.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sub_page .hero_area + section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 380px) !important;
}

.sub_page .hero_area {
  height: auto;
  background: none;
  background-color: #0F172B;
}

.header_section {
  overflow-x: hidden;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.header_section .navbar-expand-lg .navbar-nav {
  width: 90%;
}

.header_section .user_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_section .user_option a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 10px 15px;
  color: #060606;
  text-align: center;
  text-transform: uppercase;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link, .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link {
  color: var(--primary);
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 17px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand img {
  width: 90px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 0;
  height: 80px;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 50px;
  width: 30px;
  height: 30px;
}

.lg_toggl-btn {
  background-color: transparent;
  border: none;
  outline: none;
  width: 56px;
  height: 40px;
  cursor: pointer;
}

.lg_toggl-btn:focus {
  outline: none;
}

.User_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 35px;
}

.User_option a {
  color: #ffffff;
}

.custom_menu-btn {
  z-index: 9;
  position: absolute;
  right: 15px;
  top: 10px;
}

.custom_menu-btn button {
  outline: none;
  border: none;
  background-color: transparent;
  height: 35px;
  width: 35px;
  padding: 0 !important;
}

.custom_menu-btn button span {
  position: relative;
  display: block;
  height: 5px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu_btn-style {
  z-index: 9;
  position: fixed;
  right: 50px;
  top: 10px;
}

.custom_menu-btn.menu_btn-style .s-1{
  transform: rotate(137deg) translateY(-17.5px);
}
.custom_menu-btn.menu_btn-style .s-2{
opacity: 0;
}
.custom_menu-btn.menu_btn-style .s-3{
  transform: rotate(-137deg) translateY(20.5px);
}

.custom_menu-btn .s-1 {
  top: 0;
}

.custom_menu-btn .s-2 {
  top: 25%;
}

.custom_menu-btn .s-3 {
  top: 50%;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: var(--dark);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 60px;
}

.overlay a {
  width: 150px;
  margin: 0 auto;
  display: block;
 font-size: 18px;
  color: var(--light);
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-duration: 400ms;
  margin-bottom: 15px;
}

.overlay a:hover {
  color: var(--primary);
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.menu_width {
  width: 100%;
  opacity: 0.9;
}

/*end header section*/
/* slider section */
.slider_section {
  text-align: center;
  padding: 75px 0;
  color: #0b0b0b;
}

.slider_section .container {
  position: relative;
  z-index: 2;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .detail-box h1 {
  color: #fea1169c;
  font-weight: bold;
  font-size: 4rem;
}

.slider_section .detail-box h1 span {
  color: #FEA116;
}

.slider_section .detail-box p {
  margin-top: 25px;
}

.slider_section .detail-box .box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
 justify-content: center;
 margin-top: 50px;
}
.slider_section .detail-box .box .btn-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.slider_section .detail-box .btn-box a {
  padding: 5px 25px;
  background-color: transparent;
  color: var(--primary);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #fa7900;
  border-radius: 25px;
  margin-bottom: 10px;
}

.slider_section .detail-box .btn-box a:hover {
  background-color: #FEA116;
  border-color: transparent;
  color: #ffffff;
}

.find_section {
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
}

.find_section .quick-search {
  padding: 20px 45px;
  background: rgba(0, 0, 0, 0.692);
  border-radius: 10px;
}

/* .form-control {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  height: 45px;
  margin: 10px 0;
  color: var(--light);
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--primary);
} */

/* .find_section form .form-control option{
  color: var(--dark);
} */

.find_section .quick-search button {
  background-color: #f97616;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  height: 45px;
  width: 100%;
  margin: 10px 0;
}

.find_section .quick-search button:hover{
  background: rgb(65, 64, 64);
  color: var(--primary);
}

.about_section {
  position: relative;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  width: 100%;
  border-radius: 10px !important;
}

.about_section .detail-box p {
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 7px 30px;
  background-color: transparent;
  color: #fda500be;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #FEA116;
  border-radius: 25px;
  margin-top: 25px;
}

.about_section .detail-box a:hover {
  background-color: var(--primary);
  border-color: transparent;
  color: #ffffff;
}

.about_section .square-box {
  position: absolute;
  right: 25px;
  bottom: 0;
  width: 75px;
}

.about_section .square-box img {
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #000000;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content img {
  margin-top: -20px;
  width: 300px;
  height: 200px;
  z-index: 2;
  border-radius: 5px;
}

.content .heading {
  font-weight: 700;
  font-size: 32px;
  z-index: 2;
}

.content .para {
  line-height: 1.5;
  z-index: 2;
  text-align: center;
}

.content .btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: linear-gradient(-45deg, #ffcf4c 0%, #fea116 100% );
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #fa6400 0%, #fea116 100% );
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover::before {
  height: 100%;
  z-index: 1;
}

.card:hover {
  box-shadow: none;
}

.card:hover .btn {
  color: #212121;
  background: #e8e8e8;
}

.content .btn:hover {
  background: transparent;
  color: #e8e8e8;
}

.content .btn:active {
  box-shadow: none;
}

.sale_section{
  margin-top: -50px;
}

.sale_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.sale_section .sale_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* .sale_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sale_section .btn-box a {
  display: inline-block;
  padding: 7px 30px;
  background-color: transparent;
  color: #faab00b6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #FEA116;
  border-radius: 25px;
  margin-top: 35px;
}

.sale_section .btn-box a:hover {
  background-color: #FEA116;
  border-color: transparent;
  color: #ffffff;
} */

.deal_section {
  overflow-x: hidden;
  padding-top: 90px;
}

.deal_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.deal_section .detail-box p {
  margin-top: 15px;
}

.deal_section .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.deal_section .img-box .box.b1 {
  margin-right: 15px;
}

.deal_section .img-box img {
  max-width: 100%;
  border-radius: 10px !important;
}

.us_section {
  background-color: var(--dark);
  color: #ffffff;
}

.us_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.us_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  margin: 25px 0;
}

.us_section .box .img-box {
  margin-bottom: 15px;
}

.us_section .box .img-box img {
  width: 100%;
}

.us_section .box h3 {
  font-weight: bold;
}

.client_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.client_section .client_container {
  width: 85%;
  margin: auto;
  border: 1px solid #252525;
}

.client_section .client_container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 55px 2%;
}

.client_section .client_container .box .img-box {
  min-width: 100px;
  margin-right: 15px;
}

.client_section .client_container .box .img-box img {
  width: 100%;
}

.client_section .client_container .box .detail-box h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client_section .client_container .box .detail-box h5 hr {
  width: 45px;
  height: 5px;
  margin: 0;
  margin-left: 5px;
  border: none;
  background-color: #252525;
}

.client_section .client_container div#carouselExampleControls {
  padding: 0 10%;
}

.client_section .client_container div#carouselExampleControls::before {
  content: "";
  width: 50px;
  height: 155px;
  background-color: #FEA116;
  position: absolute;
  left: 10%;
  top: 37px;
}

.client_section .client_container .carousel-control-prev,
.client_section .client_container .carousel-control-next {
  width: 45px;
  height: 45px;
  background-color: #FEA116;
  border-radius: 100%;
  top: 50%;
  opacity: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.client_section .client_container .carousel-control-prev {
  background-image: url(../images/prev-white.png);
  left: 10px;
}

.client_section .client_container .carousel-control-next {
  background-image: url(../images/next-white.png);
  right: 10px;
}

.contact_section {
  position: relative;
}

.contact_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.contact_section .container-fluid {
  background-color: var(--dark);
  color: #ffffff;
}

.contact_section .form_container {
  padding: 45px 0 45px 15px;
}

.inputbox {
  position: relative;
  margin-bottom: 25px;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.inputbox input:valid ~span,
.inputbox input:focus ~span {
  color: var(--primary);
  transform: translateX(-10px) translateY(-34px);
  font-size: 0.8em;
}

.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--primary);
  opacity: 0.5;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid ~i,
.inputbox input:focus ~i {
  height: 44px;
}

.contact_section input::-webkit-input-placeholder {
  color: #2a2a2c;
}

.contact_section input:-ms-input-placeholder {
  color: #2a2a2c;
}

.contact_section input::-ms-input-placeholder {
  color: #2a2a2c;
}

.contact_section input::placeholder {
  color: #2a2a2c;
}

.contact_section input.message-box {
  padding: 45px 12px;
}

.contact_section button {
  padding: 10px 65px;
  outline: none;
  border: none;
  color: #ffffff;
  background: #f97616;
  border-radius: 10px;
  margin: 45px 0 0 auto;
  text-transform: uppercase;
}

.contact_section .map_container {
  height: 100%;
}

.contact_section .map_container .map-responsive {
  height: 100%;
}

.info_section {
  background-color: #0a0f27;
  color: #ffffff;
  padding: 90px 0 45px 0;
}

.info_section h5 {
  margin-bottom: 25px;
  font-size: 24px;
}

.info_section .info_links ul {
  padding: 0;
}

.info_section .info_links ul li {
  list-style-type: circle;
}

.info_section .info_links ul li a {
  color: #ffffff;
}

.info_section .info_contact .img-box {
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info_section .info_contact p {
  margin: 0;
}

.info_section .info_contact > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.info_section .info_contact > div img {
  height: auto;
  margin-right: 12px;
}

.info_section .info_form form input {
  outline: none;
  width: 100%;
}

.info_section .info_form form button {
  padding: 8px 35px;
  outline: none;
  border: none;
  color: #ffffff;
  background: #f97616;
  margin-top: 15px;
  text-transform: uppercase;
}

.cad {
  display: flex;
  margin: 10px auto;
  height: 70px;
  width: 350px;
}

.cad svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  cursor: pointer;
}

.cad .social-link1,.cad .social-link4,.cad .social-link5,.cad .social-link7,.cad .social-link8 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.cad svg {
  transform: scale(1);
}

.cad .social-link1:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  animation: bounce_613 0.4s linear;
}

.cad .social-link4:hover {
  background-color: #12a50b;
  animation: bounce_613 0.4s linear;
}

.cad .social-link5:hover {
  background-color: #2629f7;
  animation: bounce_613 0.4s linear;
}

.cad .social-link7:hover {
  background-color: #000000;
  animation: bounce_613 0.4s linear;
}

.cad .social-link8:hover {
  background-color: #3700ff;
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/* footer section*/
.footer_section {
  background-color: #1f222b;
}

.footer_section p {
  border-top: 1px solid #ffffff;
  color: #ffffff;
  margin: 0;
  width: 70%;
  padding: 25px 0 20px 0;
  margin: 0 auto;
  text-align: center;
}

.footer_section a {
  color: #ffffff;
}

/* end footer section*/
/*# sourceMappingURL=style.css.map */

/* Responsiveness */
@media (max-width: 1120px) {}

@media (max-width: 992px) {

  .sale_section .sale_container .box {
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
    margin: 1%;
  }

  .sale_section .sale_container .box {
    -ms-flex-preferred-size: 98%;
    flex-basis: 98%;
    margin: 1%;

  }

  .find_section form{
    margin-top: 40px;
  }

}

@media (max-width: 768px) {
  .custom_menu-btn button span {
    background-color: var(--light);
  }

  .sub_page .custom_menu-btn button span {
    background-color: #ffffff;
  }


  .slider_section {
    text-align: center;
    padding: 35px 0 75px 0;
  }

  .slider_section .detail-box {
    margin-bottom: 45px;
  }

    .find_section {
      -webkit-transform: translateY(-120%);
      transform: translateY(-120%);
    }

  .about_section {
    padding-top: 0;
  }

  .sub_page .about_section {
    padding-top: 90px;
  }

  .about_section .detail-box {
    margin-top: 35px;
  }

  .card{
    width: 300px;
  }

  .content img{
    width: 280px;
  }

  .info_section .row>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15px 0;
  }

  .contact_section .row {
    flex-direction: column-reverse;
  }

  .contact_section .map_container {
    padding: 0;
    height: 450px;
  }

  .contact_section .form_container {
    padding: 45px 0;
  }

  .client_section .client_container {
    width: 95%;
  }

  .client_section .client_container .box {
    padding-bottom: 45px;
  }

  .client_section .client_container .carousel-control-prev,
  .client_section .client_container .carousel-control-next {
    top: calc(100% - 45px);
  }

  .client_section .client_container .carousel-control-prev {
    left: calc(50% - 50px);
  }

  .client_section .client_container .carousel-control-next {
    right: calc(50% - 50px);

  }

  .info_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info_section .info_contact .img-box {
    margin-top: 5px;
  }

  .info_section .info_contact>div {
    align-items: flex-start;
  }

  .info_section .info_form h5 {
    text-align: center;
  }

  .info_section .info_form .social_box {
    justify-content: center;
  }

  .info_section .info_form .social_box a {
    margin: 0 15px;
  }

  .footer_section p {
    width: 85%;
  }
}

@media (max-width: 576px) {
  .custom_menu-btn button{
    transform: scale(0.7);
    margin-top: 3px !important;
    margin-right: -5px !important;
  }
  h2{
    transform: scale(0.9);
    margin-left: -20px !important;
  }
  .slider_section .detail-box h1 {
    font-size: 3rem;
  }

  .client_section .client_container div#carouselExampleControls {
    padding: 0 5%;
  }

  .client_section .client_container .box {
    flex-direction: column;
    align-items: center;

  }

  .client_section .client_container .box .detail-box {
    margin-top: 25px;
  }

  .client_section .client_container div#carouselExampleControls::before {
    height: 165px;
    left: 30%;
    top: 43px;

  }

  .footer_section p {
    width: 100%;
  }

  .btn{
    font-size: small;
  }
}

@media (max-width: 480px) {}

@media (max-width: 420px) {
  .client_section .client_container div#carouselExampleControls::before {
    left: 20%;
  }

  h2:first-child{
    font-weight: bolder;
  }
}

@media (max-width: 360px) {}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
