{% load static %}
<form 
hx-post="{% url 'reviews:like-hostel' %}"
hx-trigger="submit"
hx-target="#like-form"
hx-indicator="#loading-spinner"
class="likes">
{% csrf_token %}
{% comment %} <input type="checkbox" name="like" id="like"> {% endcomment %}
<input type="hidden" name="hostel_code" value="{{ hostel.hostel_code}}">
<button>
    <label>
        {% if decreasing %}
        <i class="bi bi-heart" id="icon"></i>
        {% else %}
        <i class="bi bi-heart-fill" id="icon" style="color: red;"></i>
        {% endif %}
    </label>
</button>
<div class="extra">
    <img  id="loading-spinner" style="width: 22px; height: 22px;" class="htmx-indicator ml-2" src="{% static 'gifs/loading.gif' %}"/>
    <small>{{ hostel.no_of_likes }}</small>
</div>
</form>    
</div>