:root {
    --primary: #FEA116;
    --light: #F1F8FF;
    --dark: #0F172B;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--light);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.navbar{
    background-color: var(--dark) !important;
    position: fixed;
    width: 100vw;
    z-index: 10;
    padding-right: 10px;
}

.collapse .navbar-nav .nav-link:hover{
    color: var(--primary) !important;
}

.btn{
    margin: auto;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.left-half,
.right-half {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    width: 50%;
}

.h1 {
    color: var(--primary);
}

a {
    text-decoration: none;
    text-align: center;
}

hr {
    border: 1px solid #ffffff;
}

.user-info {
    margin: 20px 0;
}

.box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.btn-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 5;
    font-weight: 400;
}

.btn-box a {
    padding: 5px 25px;
    background-color: transparent;
    color: var(--dark);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid var(--dark);
    border-radius: 25px;
    margin-bottom: 10px;
}

.btn-box a:hover {
    background-color: var(--dark);
    border-color: transparent;
    color: #ffffff;
}

.empty{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.direction{
    width: 100vw;
    height: 100vh;
    background-color: #000000e7;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 20;
}

.close{
    position: fixed;
    top: 0;
    right: 0;
}

.x:hover{
    color: red !important;
    cursor: pointer;
}

.footer_section {
    background-color: #1f222b;
}

.footer_section p {
    border-top: 1px solid #ffffff;
    color: #ffffff;
    margin: 0;
    width: 70%;
    padding: 25px 0 20px 0;
    margin: 0 auto;
    text-align: center;
}

.footer_section a {
    color: #ffffff;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

        .left-half,
        .right-half {
            width: 100%;
        }
}